/*font-family: 'Lato', sans-serif;*/

/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Hind", sans-serif;
  /*font-family: 'Lato', sans-serif;*/
  color: #25283D;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #286090;
  text-decoration: none;
}

b, strong {
  font-weight: 700;
}
.nopadding {
  padding: 0;
}
.sheading {
  font-weight: 600;
  color: #464861;
  font-family: 'Sanchez', serif;
  margin-top: 0;
  margin-bottom: 20px;
}
.top-sub-nav {
  padding: 7px 32px;
  background-color: #3A3C51;
  color: #eee;
  font-size: 12px;
  height: 25px;
}
.top-sub-nav a {
  color: #eee;
}
.navbar.main-nav {
  border: 0px solid transparent;
  border-radius: 0px;
  min-height: 55px;
  background-color: #464861;
}
.navbar-brand {
  height: 55px;
  font-size: 23px;
  line-height: 25px;
  font-weight: 600;
}

.logo-text {
  color: #fff;
}

.navbar-default .navbar-nav .dropdown-menu {
  background-color: rgba(255,255,255,0.95);
  min-width: 13em !important;
  border: 1px solid rgba(0,0,0,.1);
}

.navbar-default .navbar-nav .dropdown-menu>li>a {
  display: block;
  padding: 8px 20px;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-weight: 600;
  transition: all .3s ease;
}
.navbar-default .navbar-nav>.active>a {
  color: #fff;
  /*background-color: #006A9F;*/
  background-color: transparent;
}
.navbar-default .navbar-nav>.active>a:hover {
  /*background-color: transparent;*/
  background-color: #3A3C51;
  color: #fff;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
  background-color: #3A3C51;
}


.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover {
  color: #fff;
  background-color: #3A3C51;
}

.sub-nav-hero .tab-content h3 {
  margin-top: 0px;
  font-weight: 600;
  color: #3E3947;
  font-family: 'Sanchez', serif;
}
.sub-nav-hero .tab-content p {
  color: #3E3947;
  font-family: 'Sanchez', serif;
}

.sub-nav-hero .tab-content ul.list-unstyled.tab-pane-list li {
  /*padding: 10px 0;*/
  border-bottom: 1px dotted #3E3947;
  position: relative;
}
/*.sub-nav-hero .tab-content ul.list-unstyled.tab-pane-list li:after {
  content: '';
  background-color: #D7DADB;
  display: block;
  position: absolute;
  width: 10px;
  height: 2px;
  bottom: 0;
  }*/
  .sub-nav-hero .tab-content ul.list-unstyled.tab-pane-list li a {
    font-weight: 600;
    padding: 8px 0;
    display: block;
    transition: all .3s ease;
    font-family: 'Sanchez', serif;
    color: #3E3947;
  }
  .sub-nav-hero .tab-content ul.list-unstyled.tab-pane-list li a:hover {
    margin-left: 2px;
  }
  .sub-nav-hero .tab-content ul.list-unstyled.tab-pane-list li a span {
    font-weight: 100;
    font-size: 13px;
    padding-left: 10px;
  }
  .footbox {
    padding: 20px;
    text-align: center;
    background-color: #2A2730;
  }
  .footbox.even {
    background-color: #332F3A;
    height: 90px;
    border: 1px solid #3E3947;
    margin-top: -12px;
    position: relative;
    z-index: 99;
    padding: 32px;
  }

  .foo_col_4 img {
    height: 40px;
  }

  .implinks {
    margin-top: 14px;
  }
  .implinks li a {
    color: #ddd;
    font-size: 14px;
    text-transform: capitalize;
  }
.warnig{
  color: red;
}

  .caret:after {
    content: "\f107";
    font-family: 'FontAwesome';
    display: block;
    color: #fff;
    border: none;
    top: -10px;
    position: relative;
    font-size: 14px;
  }
  .caret {
    border: none;
  }

  a.companyname {
      text-align: center;
      font-weight: 600;
      font-size: 16px;
      color: #464861;
      display: block;
      opacity: 0;
      transition: all .3s ease;
  }
  a.companyname:before {
    content: '';
    background-color: #eee;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 20px;
    height: 2px;
  }
  .owl-carousel .owl-item {
    cursor: pointer;
  }
  .owl-carousel .owl-item:hover a.companyname {
    opacity: 1;
  }

#latestjobs .btn-primary, .listpgWraper .btn-primary {
  background-color: #464861;
  border-color: #464861;
}
#latestjobs .btn-primary:hover, .listpgWraper .btn-primary:hover {
  background-color: #3E3947;
  border-color: #3E3947;
}
#latestjobs .morejobs {
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 40px 7px;
  font-weight: 600;
  margin: auto;
  display: block;
  max-width: 175px;
  border-radius: 0px;
}

.label-changepass{



  
   font-weight: 100 !important;
   
}



.freelancer-list .col-md-6 {
    /*margin-bottom: 30px;*/
}
.freelancer-wrap {
    position: relative;
    padding: 15px 30px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    margin-bottom: 10px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.post-media img {
    width: 100%;
    opacity: 1;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.freelancer-wrap .rating {
    padding-bottom: 0;
}
.rating {
    padding: 0 0 13px;
}
.rating i {
    font-size: 13px;
}
.fa-star {
    color: #337AB7;
}
.freelancer-wrap:hover {
    -webkit-box-shadow: 0 13px 6px -6px #ededed;
    -moz-box-shadow: 0 13px 6px -6px #ededed;
    box-shadow: 0 13px 6px -6px #ededed;
}
.freelancer-wrap h4 {
    padding: 5px 0 5px;
    margin: 0;
    font-size: 20px;
    line-height: 1;
    font-weight: 600;
}
.freelancer-wrap h4 a {
  text-decoration: none;
  color: #464861;
}
.freelancer-wrap p {
    margin-bottom: 0;
    font-size: 14px;
}
.freelancer-wrap p.skillsreq {
  font-size: 14px;
  color: #777;
}
.freelancer-wrap ul {
  margin-bottom: 0px;
  border-top: 1px solid #eee;
  font-weight: 600;
}
.freelancer-wrap .btn {
    position: absolute;
    top: 10px;
    border: 0;
    padding: 8px 12px 6px;
    border-radius: 0;
    right: -20px;
    font-weight: 600;
}
.featured:before, .featured:after, .freelancer-wrap .btn::before, .freelancer-wrap .btn::after {
    content: " ";
    height: 0;
    position: absolute;
    width: 0;
}
.featured::before, .freelancer-wrap .btn::before {
    border-color: #2A2730 transparent transparent #2A2730;
    border-style: solid;
    border-width: 5px 10px;
    right: 0;
    top: 100%;
}
.oi[data-glyph]:empty:before {
    width: 1em;
    text-align: center;
    box-sizing: content-box;
}
.oi[data-glyph=link-intact]:before {
    content: '\e086';
}
.oi[data-glyph]:before {
    font-family: Icons;
    display: inline-block;
    speak: none;
    line-height: 1;
    vertical-align: baseline;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



/*INNER PAGE*/
.cd-hero-inner {
    background: url(../img/home_app_subheader.jpg) no-repeat;
    background-size: cover;
    padding: 70px 0;
    margin-top: 80px;
}
.cd-hero-inner h1 {
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    margin: 0;
}
.breadcmb {
    text-align: right;
    color: #fff;
    /*margin-top: 20px;*/
}
.breadcmb a {
    color: #ddd;
    display: inline-block;
    padding: 0 5px;
}
.breadcmb span {
    color: #fff;
    display: inline-block;
    padding-left: 5px;
}
.listpgWraper {
    background: #f8f8f8;
    padding: 50px 0;
    min-height: 400px;
}
.pageSearch {
    margin-bottom: 30px;
}
.pageSearch a.btn {
    background: #464861;
    color: #fff;
    padding: 13px 15px;
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 0;
    display: block;
}
.pageSearch a.btn:hover {
    background-color: #3E3947;
    border-color: #3E3947;
}
.pageSearch a.btn i {
    font-weight: 400;
    font-size: 20px;
    margin-right: 5px;
}
.searchform .col-md-3, .searchform .col-md-2, .searchform .col-sm-3, .searchform .col-sm-2 {
    /*padding: 0 5px;*/
}
.searchform .form-control {
    border-radius: 0;
    height: auto;
    padding: 13px 12px;
    font-size: 16px;
}
.searchform select.form-control {
    padding: 13px 12px;
    background: #fff;
    line-height: 45px;
    height: 50px;
}
.searchform .form-control:focus, .searchform select.form-control:focus {
    border-color: #464861;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(70, 72, 97, 0.2);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(70, 72, 97, 0.2);
}
.searchform .btn {
    border-radius: 0;
    background: #464861;
    font-size: 22px;
    color: #fff;
    padding: 13px 18px;
    line-height: 17px;
}
.searchform .btn:hover {
    background-color: #3E3947;
    border-color: #3E3947;
}
.sidebar {
    background: #fff;
    border: 1px solid #eaeaea;
    padding: 20px;
    margin-bottom: 30px;
}
.sidebar .widget {
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}
.sidebar .widget-title {
    font-size: 18px;
    font-weight: 600;
    color: #666;
    margin-bottom: 20px;
}
.optionlist {
    list-style: none;
    padding-left: 0;
}
.optionlist li {
    margin-bottom: 7px;
    padding: 5px 0;
    position: relative;
    padding-left: 30px;
    font-size: 15px;
}
.optionlist li input[type=checkbox] {
    display: none;
}
.optionlist li input[type=checkbox] + label {
    width: 20px;
    height: 20px;
    border: 1px solid #e0e0e0;
    background: #f5f5f5;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 3px;
}
.optionlist li span {
    position: absolute;
    right: 0;
    top: 6px;
}
.optionlist li input[type=checkbox]:checked + label:before {
    content: '\f00c';
    font-family: 'FontAwesome';
    color: #464861;
    padding-left: 2px;
    position: relative;
    top: -2px;
}
.sidebar a {
    color: #464861;
    display: inline-block;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 600;
}
.sidebar .sidebar-popular li a {
    color: #464861;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    padding-left: 15px;
}
.sidebar .sidebar-popular li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    color: #464861;
    font-size: 14px;
}
.searchnt .btn {
    background: #464861;
    display: block;
    border-radius: 0;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 15px;
}
.searchnt .btn:hover {
    background-color: #3E3947;
    border-color: #3E3947;
}



.pagiWrap .showreslt {
    font-weight: 600;
    margin: 25px 0;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #464861;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(70, 72, 97, 0.29);
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #464861;
    border-color: #464861;
}



































  /* Owl nav */
  .owl-theme .owl-controls .owl-nav {
    position: absolute;
    top: calc(42%);
    width: 100%;
    z-index: -1;
  }

  .owl-theme .owl-controls .owl-nav > div.owl-prev {
    float: left;
    left: -35px;
    position: relative;
  }
  .owl-theme .owl-controls .owl-nav > div.owl-next {
    float: right;
    left: 35px;
    position: relative;
  }
  .owl-theme .owl-controls .owl-nav div {
    opacity: 1;
    transition: .5s all;
  }
  .owl-theme .owl-controls .owl-dots {
    margin-top: -50px;
    position: relative;
    float: right;
    right: 12px;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 22px;
    height: 22px;
    margin: 7px 6px;
    background: rgba(255,153,135,0.5);
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
  }

  .owl-theme .owl-dots .owl-dot.active span {
    background: #FF9987;
  }

  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
  }

  /*.owl-theme .owl-dots .owl-dot span {
    background: rgba(214,214,214,0.3);
  }
  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: rgba(255,255,255,0.6);
    }*/

    .owl-theme .owl-controls .owl-nav [class*=owl-] {
      background: rgba(0,0,0,0.0);
      margin: 0px;
      margin-top: -10px;
      padding: 8px 10px;
      font-size: 13px;
      width: 40px;
      height: 40px;
      text-align: center;
      border-radius: 50%;
      color: rgba(0,0,0,0.2);
    }

    .owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
      background: rgba(0,0,0,0.1);
      color: #333;
      text-decoration: none;
    }




/* -------------------------------- 

1. Auto-Hiding Navigation - Simple

-------------------------------- */
.cd-auto-hide-header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
.cd-auto-hide-header::after {
  clear: both;
  content: "";
  display: block;
}
.cd-auto-hide-header.is-hidden {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
@media only screen and (min-width: 1024px) {
  .cd-auto-hide-header {
    height: 80px;
  }
}

.cd-auto-hide-header .logo,
.cd-auto-hide-header .nav-trigger {
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.cd-auto-hide-header .logo {
  left: 5%;
}
.cd-auto-hide-header .logo a, .cd-auto-hide-header .logo img {
  display: block;
}

.cd-auto-hide-header .nav-trigger {
  /* vertically align its content */
  display: table;
  height: 100%;
  padding: 0 1em;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #25283D;
  font-weight: bold;
  right: 0;
  border-left: 1px solid #f2f2f2;
}
.cd-auto-hide-header .nav-trigger span {
  /* vertically align inside parent element */
  display: table-cell;
  vertical-align: middle;
}
.cd-auto-hide-header .nav-trigger em, .cd-auto-hide-header .nav-trigger em::after, .cd-auto-hide-header .nav-trigger em::before {
  /* this is the menu icon */
  display: block;
  position: relative;
  height: 2px;
  width: 22px;
  background-color: #25283D;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-auto-hide-header .nav-trigger em {
  /* this is the menu central line */
  margin: 6px auto 14px;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}
.cd-auto-hide-header .nav-trigger em::before, .cd-auto-hide-header .nav-trigger em::after {
  position: absolute;
  content: '';
  left: 0;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}
.cd-auto-hide-header .nav-trigger em::before {
  /* this is the menu icon top line */
  -webkit-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
}
.cd-auto-hide-header .nav-trigger em::after {
  /* this is the menu icon bottom line */
  -webkit-transform: translateY(6px);
  -ms-transform: translateY(6px);
  transform: translateY(6px);
}
@media only screen and (min-width: 1024px) {
  .cd-auto-hide-header .nav-trigger {
    display: none;
  }
}

.cd-auto-hide-header.nav-open .nav-trigger em {
  /* transform menu icon into a 'X' icon */
  background-color: rgba(255, 255, 255, 0);
}
.cd-auto-hide-header.nav-open .nav-trigger em::before {
  /* rotate top line */
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cd-auto-hide-header.nav-open .nav-trigger em::after {
  /* rotate bottom line */
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cd-primary-nav {
  display: inline-block;
  float: right;
  height: 100%;
  padding-right: 5%;
}
.cd-primary-nav > ul {
  position: absolute;
  z-index: 2;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  display: none;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.2);
}
.cd-primary-nav > ul a {
  /* target primary-nav links */
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  color: #25283D;
  font-size: 1.8rem;
  border-top: 1px solid #f2f2f2;
}
.cd-primary-nav > ul a:hover, .cd-primary-nav > ul a.active {
  color: #8F3985;
}
@media only screen and (min-width: 1024px) {
  .cd-primary-nav {
    /* vertically align its content */
    display: table;
  }
  .cd-primary-nav > ul {
    /* vertically align inside parent element */
    display: table-cell;
    vertical-align: middle;
    /* reset mobile style */
    position: relative;
    width: auto;
    top: 0;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }
  .cd-primary-nav > ul::after {
    clear: both;
    content: "";
    display: block;
  }
  .cd-primary-nav > ul li {
    display: inline-block;
    float: left;
    margin-right: 1.5em;
  }
  .cd-primary-nav > ul li:last-of-type {
    margin-right: 0;
  }
  .cd-primary-nav > ul a {
    /* reset mobile style */
    height: auto;
    line-height: normal;
    padding: 0;
    border: none;
  }
}

.nav-open .cd-primary-nav ul,
.cd-primary-nav ul:target {
/* 
	show primary nav - mobile only 
	:target is used to show navigation on no-js devices
  */
  display: block;
}
@media only screen and (min-width: 1024px) {
  .nav-open .cd-primary-nav ul,
  .cd-primary-nav ul:target {
    display: table-cell;
  }
}

/* -------------------------------- 

2. Auto-Hiding Navigation - with Sub Nav

-------------------------------- */
.cd-secondary-nav {
  position: relative;
  z-index: 1;
  clear: both;
  width: 100%;
  height: 50px;
  background-color: #3E3947;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.cd-secondary-nav.nav-end::after {
  opacity: 0;
}
.cd-secondary-nav ul, .cd-secondary-nav li, .cd-secondary-nav a {
  height: 100%;
}
.cd-secondary-nav ul {
  /* enables a flex context for all its direct children */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 5%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.cd-secondary-nav ul::after {
  clear: both;
  content: "";
  display: block;
}
.cd-secondary-nav li {
  display: inline-block;
  float: left;
  /* do not shrink - elements float on the right of the element */
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.cd-secondary-nav li:last-of-type {
  padding-right: 20px;
}
.cd-secondary-nav a {
  display: block;
  color: #fff;
  font-weight: 600;
  opacity: .6;
  line-height: 50px;
  padding: 0 1em;
  text-decoration: none;
  font-family: 'Sanchez', serif;
}
.cd-secondary-nav a:hover, .cd-secondary-nav a.active {
  opacity: 1;
}

.cd-secondary-nav li.active {
  box-shadow: inset 0 -3px rgba(255,255,255,0.6);
}
.cd-secondary-nav li.active a {
  opacity: 1;
}


@media only screen and (min-width: 1024px) {
  .cd-secondary-nav {
    height: 55px;
    overflow: visible;
  }
  .cd-secondary-nav ul {
    /* reset mobile style */
    display: block;
    text-align: center;
    margin-bottom: 0;
  }
  .cd-secondary-nav li {
    /* reset mobile style */
    float: none;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
  }
  .cd-secondary-nav a {
    line-height: 55px;
  }
/*.cd-secondary-nav a.active {
  box-shadow: inset 0 -3px #286090;
  }*/
}

/* -------------------------------- 

3. Auto-Hiding Navigation - with Sub Nav + Hero Image

-------------------------------- */
.cd-secondary-nav.fixed {
  position: fixed;
  top: 60px;
  /*z-index: 999;*/
}
.cd-secondary-nav.slide-up {
  -webkit-transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  transform: translateY(-60px);
}
@media only screen and (min-width: 1024px) {
  .cd-secondary-nav.fixed {
    top: 80px;
    /* fixes a bug where nav and subnab move with a slight delay */
    box-shadow: 0 -6px 0 #25283D;
  }
  .cd-secondary-nav.slide-up {
    -webkit-transform: translateY(-80px);
    -ms-transform: translateY(-80px);
    transform: translateY(-80px);
  }
}

/* -------------------------------- 

Main content

-------------------------------- */
main {
/*margin-top: 50px;
margin-bottom: 50px;*/
}
section#featuredemp {
  margin-top: 30px;
  margin-bottom: 40px;
}
section#latestjobs {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f8f8f8;
  /*background-image: url(../img/map-light.png);*/
}
.cd-main-content {
  padding: 60px 5% 2em;
  overflow: hidden;
}
.cd-main-content.sub-nav {
  /* to be used if there is sub nav */
  padding-top: 110px;
}
.cd-main-content.sub-nav-hero {
  /* to be used if there is hero image + subnav */
  padding-top: 0;
}
.sub-nav-hero {
  /*background-color: #F4F7F8;*/
  color: #333;
  background-image: url(../img/home_app_subheader.jpg);
  position: relative;
}
.sub-nav-hero:before {
  content: '';
  position: absolute;
  background-color: rgba(255,255,255,0.9);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
}
.sub-nav-hero .tab-content {
  padding-top: 30px;
  padding-bottom: 30px;
  /*border-top: 1px solid #082B44;*/
}
.cd-main-content.sub-nav-hero.secondary-nav-fixed {
  margin-top: 50px;
}
.cd-main-content p {
  max-width: 1024px;
  line-height: 1.6;
  margin: 2em auto;
  font-family: "David Libre", serif;
  color: #a5a8a9;
}
@media only screen and (min-width: 1024px) {
  .cd-main-content {
    padding-top: 80px;
  }
  .cd-main-content.sub-nav {
    padding-top: 150px;
  }
  .cd-main-content.sub-nav-hero.secondary-nav-fixed {
    margin-top: 70px;
  }
  .cd-main-content p {
    font-size: 2.4rem;
  }
}

/*
adjust the positioning of in-page links
http://nicolasgallagher.com/jump-links-and-viewport-positioning/
*/
.cd-main-content.sub-nav :target::before,
.cd-main-content.sub-nav-hero :target::before {
  display: block;
  content: "";
  margin-top: -50px;
  height: 50px;
  visibility: hidden;
}
@media only screen and (min-width: 1024px) {
  .cd-main-content.sub-nav :target::before,
  .cd-main-content.sub-nav-hero :target::before {
    margin-top: -70px;
    height: 70px;
  }
}

/* -------------------------------- 

Intro Section

-------------------------------- */
.cd-hero {
  /* vertically align its content */
  display: table;
  width: 100%;
  margin-top: 60px;
  height: 300px;
  background: url(../img/home_corporation_sectionbg4.jpg) no-repeat center center;
  background-size: cover;
}
.cd-hero .cd-hero-content {
  /* vertically align inside parent element */
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  transition: all .5s ease;
}
.cd-hero .cd-hero-content h2 {
  color: #fff;
  font-size: 56px;
  text-shadow: 1px 1px 45px rgba(0, 0, 0, 0.3);
}
.cd-hero .cd-hero-content p {
  font-size: 22px;
  color: #fff;
  font-weight: 400;
  text-shadow: 1px 1px 45px rgba(0, 0, 0, 0.3);
}
.cd-hero .cd-hero-content .trending li {
  color: #fff;
}
.cd-hero .cd-hero-content .trending li a {
  text-shadow: 1px 1px 45px rgba(0, 0, 0, 0.3);
}
.cd-hero .cd-hero-content .form-inline .form-control {
  height: 45px;
  padding: 6px 25px;
  font-size: 18px;
  min-width: 300px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.9);
}
.cd-hero .cd-hero-content .form-inline button {
  height: 45px;
  padding: 6px 35px;
  font-size: 18px;
  border: none;
}
.cd-hero .cd-hero-content .form-inline {
  background-color: rgba(255, 255, 255, 0.35);
  padding: 15px;
  display: inline-block;
  border-radius: 6px;
}
.cd-hero .cd-hero-content .trending {
  color: #eee;
  margin-top: 10px;
  font-size: 12px;
}
.cd-hero .cd-hero-content .trending li a {
  color: #fff;
  font-weight: 600;
}


@media only screen and (min-width: 768px) {
  .cd-hero {
    height: 400px;
  }
  .navbar-nav>li>a {
    padding-top: 17px;
    padding-bottom: 18px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-hero {
    height: 480px;
    margin-top: 80px;
  }
}

@media only screen and (max-width: 767px) {
  .cd-secondary-nav::after {
    /* gradient on the right - to indicate it's possible to scroll */
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    height: 100%;
    width: 35px;
    background: transparent;
    background: -webkit-linear-gradient(right, #BEC1C2, rgba(37, 40, 61, 0));
    background: linear-gradient(to left, #BEC1C2, rgba(37, 40, 61, 0));
    pointer-events: none;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
  }
}







.ct_footer_bg.ct_top a {
  color: #e6e6e6;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  font-family: 'Sanchez', serif;
  text-decoration: none;
  transition: all .3s ease;
}
.ct_footer_bg.ct_top a:hover {
  color: #fff;
}
.ct_footer_bg.ct_top a i {
  /*color: #fff;*/
  font-size: 24px;
  position: relative;
  top: 2px;
}
.ct_footer_bg.ct_top {
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding: 0px;
}

.ct_footer_bg {
  float: left;
  width: 100%;
  position: relative;
  background-color: #3C3743;
  padding: 40px 0px 20px;
  font-family: 'Sanchez', serif;
  margin-top: -10px;
}
.ct_footer_bg a {
  color: #fff;
}
.widget {
  float: left;
  width: 100%;
  position: relative;
}
.widget h5 {
  color: #fff;
  /*text-transform: uppercase;*/
  font-weight: 600;
  margin: 0px 0px 15px;
}
.footer_col_1 > a {
  display: block;
  margin: 0px 0px 5px;
  font-weight: 600;
  font-size: 22px;
  text-decoration: none;
}
.footer_col_1 > a img {
  width: auto;
  height: auto;
  margin-top: -36px;
}
.footer_col_1 p {
  color: #b3b3b3;
  margin: 0px 0px 15px;
  font-size: 13px;
}
.footer_col_1 span {
  display: block;
  margin: 0px 0px 5px;
  color: #ccc;
}
.foo_get_qoute {
  float: left;
  width: 100%;
  position: relative;
}
.foo_get_qoute > a {
  display: inline-block;
  color: #fff;
  padding: 8px 20px;
  border-radius: 4px;
  font-size: 12px;
  text-transform:uppercase;
  background-color: #286090;
}
.foo_get_qoute > a:hover {
  background-color: #235680;
  color: #fff;
}
.foo_col_2 ul {
  float: left;
  width: 100%;
  padding-left: 0;
}
.foo_col_2 ul li {
  display: inline-block;
  width: 100%;
  position: relative
}
.foo_col_2 ul li:before {
  content: "\f0da";
  position: absolute;
  font-family: fontawesome;
  left: 0px;
  top: 5px;
  font-size: 11px;
  color: #b3b3b3;
  width: auto;
  height: auto;
  transition: all .3s ease;
}
.foo_col_2 ul li a {
  display: block;
  color: #b3b3b3;
  padding: 3px 0px 3px 10px;
  text-decoration: none;
  font-weight: 500;
  font-family: 'Sanchez', serif;
  font-size: 13px;
  transition: all .3s ease;
}
.foo_col_2 ul li:hover a {
  padding-left: 15px;
}
.foo_col_2 ul li:hover:before {
  left: 5px;
}
.foo_col_4 ul {
  float: left;
  width: 100%;
  padding-left: 0px;
  color: #b3b3b3;
}
.foo_col_4 ul li {
  display: inline-block;
  width: 100%;
  position: relative;
  padding: 3px 0px;
  font-weight: 500;
  font-family: 'Sanchez', serif;
  font-size: 13px;
}
.foo_col_4 ul li:nth-child(2n) {
  width: 30px;
  height: 2px;
  padding: 0px;
  margin: 5px 0px 5px;
  background-color: #b3b3b3;
}
.foo_col_4 ul li:nth-child(3n) {
  line-height: 28px;
}
.foo_col_4 p {
  color: #ccc;
  font-size: 13px;
}

.footerdivider {
  width: 30px;
  height: 2px;
  padding: 0px;
  margin: 5px 0px 15px !important;
  background-color: #b3b3b3;
}



.ct_copyright_bg {
  padding: 15px 0px;
  background-color: #332F3A;
  float: left;
  width: 100%;
  position: relative;
/*background-image: url(../../images/copyright.jpg);
  background-size: 95px;
  background-repeat: no-repeat;
  background-position: left;*/
}
.copyright_text {
  float: left;
  width: 100%;
  position: relative;
  color: #b3b3b3;
  font-size: 13px;
}
.copyright_text a {
  display: inline-block;
  color: #ddd;
}
.copyright_text a:hover {
  color: #fff;
}
.copyright_social_icon {
  float: left;
  width: 100%;
  position: relative;
}
.copyright_social_icon ul {
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
}
.copyright_social_icon ul li {
  float: right;
  position: relative;
  margin-left: 10px;
  color: #afafaf;
  font-size: 14px;
}
.copyright_social_icon ul li a {
  display: block;
  width: 29px;
  height: 15px;
  border-radius: 100%;
  color: #fff;
  /*background-color: #282828;*/
  color: #afafaf;
  line-height: 20px;
}
.copyright_social_icon ul li:hover a {
  color: #fff;
}





/*user dashboard*/
.optionlist.steps li {
  padding-left: 0px;
  margin-bottom: 0px;
}
.optionlist.steps li span {
  top: 10px;
  opacity: 0.5;
  transition: all .3s ease;
}
.optionlist.steps li .editable:hover span {
  opacity: 1;
}
.optionlist.steps li a {
  margin-top: 0px;
  padding: 8px 0;
  font-size: 15px;
  font-weight: 400;
  display: block;
  text-decoration: none;
  transition: all .3s ease;
}
.profileimg {
  background-color: #464861;
  padding: 20px;
  color: #fff;
  text-align: center;
}
.profileimg h3 {
  margin: 20px 0px 0px;
  font-weight: 600;
}
.profileimg p {
  margin-bottom: 0px;
}
.profilecontactinfo ul li a.editable {
  margin-top: 0px !important;
  padding: 0px 0 5px !important;
}
.profilecontactinfo ul li a.editinfo {
  font-size: 12px;
  padding: 0;
}
.profilecontactinfo.sidebar .widget {
  float: none;
  margin-bottom: 0px;
  border-bottom: none;
  padding-bottom: 0px;
}
.profilecontactinfo.sidebar .widget .optionlist {
  margin-bottom: 0px;
}
.profilecontactinfo.sidebar .widget .optionlist li, .profileedit.sidebar .widget .optionlist li {
    padding: 0px;
}
.profilecontactinfo.sidebar .widget .optionlist hr {
    margin-top: 10px;
    margin-bottom: 10px;
}
.profilecontactinfo.sidebar .optionlist.steps li span {
    top: 2px;
}
.profileimg .editprofileimg {
    position: absolute;
    right: 20px;
    top: 8px;
    opacity: .5;
    color: #fff;
}
.profileimg:hover .editprofileimg {
    opacity: 1;
}
.profileimg img {
    padding: 5px;
    background-color: rgba(255,255,255,0.5);
    border: 1px solid #464861;
    width: 100%;
}
.editinfo.verified {
  color: #25CB68;
}
.editinfo.verifynow {
  color: #FF5722;
}
.nav-pills>li>a {
    border-radius: 0px;
    margin-top: 0px;
    font-size: 15px;
}
.nav-pills>li.active a {
    background-color: #464861;
}
.nav-pills>li.active a:hover {
  background-color: #3E3947;
  border-color: #3E3947;
}

.sidebar .widget-title {
    margin-bottom: 15px;
    margin-top: 0px;
}

.listpgWraper h3 {
    margin-top: 0px;
}

.freelancer-wrap .table tr td ul {
  border-top: none;
}
.freelancer-wrap.resumeblock .table tr td ul li a {
  color: #464861;
  font-size: 12px;
}
.freelancer-wrap.resumeblock .table tr td {
    font-size: 13px;
}
.freelancer-wrap.resumeblock .table tr th:nth-child(1) {
  width: 33%;
}
.freelancer-wrap.resumeblock .table tr th:nth-child(2) {
  width: 33%;
}
.freelancer-wrap.resumeblock .table thead tr th {
    background-color: #f8f8f8;
    border: none;
}
.freelancer-wrap.resumeblock .table thead tr {
    border: 1px solid #ddd;
}
.freelancer-wrap.resumeblock .table tbody tr {
    border: 1px solid #ddd;
}
.freelancer-wrap.resumeblock .btn {
    position: inherit;
}
.freelancer-wrap.resumeblock .btn::before {
  display: none;
}
.freelancer-wrap.resumeblock .form-group.resumetitle {
  width: 40%;
}
.freelancer-wrap.resumeblock .form-group.resumetitle .form-control {
  width: 100%;
}
.freelancer-wrap.resumeblock .form-control {
    border-radius: 0;
    height: 35px;
    padding: 5px 12px;
    font-size: 16px;
}